
.btn-purple {
    background: #6A43DE;
    color: #fff;
    color: rgba(255,255,255,0.9);

    &.shadow-lg {
        -webkit-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1);
-moz-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1);
box-shadow: 0px 6px 58px -13px rgba(106,67,222,1) !important;

    }
}

.btn-yellow {
    background: #ffa000;
    color: #fff;
    color: rgba(255,255,255,0.98);

    &.shadow-lg {
        -webkit-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1);
        -moz-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1);
        box-shadow: 0px 6px 58px -13px rgba(106,67,222,1) !important;

    }
}

.f-ubuntu{
    font-family: 'Ubuntu', sans-serif !important;
}

button {
    width: auto !important;
}