
.btn-purple {
    background: #6A43DE;
    color: #fff;
    color: rgba(255,255,255,0.95);

    &.shadow {
        -webkit-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1) !important;
        -moz-box-shadow: 0px 6px 58px -13px rgba(106,67,222,1) !important;
        box-shadow: 0px 6px 58px -13px rgba(106,67,222,1) !important;

    }

    &:hover{ color: rgba(255,255,255,0.8); }

}

.btn-yellow {
    background: #ffa000;
    color: #fff;
    color: rgba(255,255,255,0.95);

    &:hover{ color: rgba(255,255,255,0.8); }

    &.shadow {
        -webkit-box-shadow: 0px 6px 58px -13px rgba(255,160,0,1) !important;
        -moz-box-shadow: 0px 6px 58px -13px rgba(255,160,0,1) !important;
        box-shadow: 0px 6px 58px -13px rgba(255,160,0,1) !important;
    }
}


.btn-pink {
    background: rgb(245, 61, 150);
    color: #fff;
    color: rgba(255,255,255,0.95);

    &:hover{ color: rgba(255,255,255,0.8); }

    &.shadow {
        -webkit-box-shadow: 0px 6px 58px -13px rgba(245, 61, 150,1) !important;
        -moz-box-shadow: 0px 6px 58px -13px rgba(245, 61, 150,1) !important;
        box-shadow: 0px 6px 58px -13px rgba(245, 61, 150,1) !important;
    }
}

.f-ubuntu{
    font-family: 'Ubuntu', sans-serif !important;
}

button {
    width: auto !important;
}

